In [7]:
import pandas as pd
import re
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

d = {
    'user_id': [125,23,389,44,505,661,101], 
    'user_name': ['John|','Mi ke','Cha rli3','Jeff','P4trick','Ma.tt','jAmes'], 
    'user_money': [1200,2555,754,980,3100,2955,8500]
    }

df = pd.DataFrame(data=d)

In [9]:
def cleaning(df):
    df['user_name'] = (
        df['user_name']
            .str.replace('|', '')
            .str.replace(' ', '')
            .str.replace('3', 'e')
            .str.replace('4', 'a')
            .str.replace('.', '')
            )
    return df

def search_money(df):
    df = df.query('user_money>2000').sort_values(by='user_money', ascending=False)  
    return df

In [10]:
cleaned_df = cleaning(df)
above2k_df = search_money(cleaned_df)
above2k_df

   user_id user_name  user_money
6      101     jAmes        8500
4      505   Patrick        3100
5      661      Matt        2955
1       23      Mike        2555